.ContenedorAdt {
    width: 1000px;
    margin: auto;
    margin-top: 90px;
}


.listadoAdt {
    width: 500px;
    height: 68px;
    margin: auto;
    flex-shrink: 0;
    border-radius: 10px;
    border: 10px solid #D1CBCB;
    background: #FFF;
}


.pie {
    height: 50px;
}

.icono {
    width: 50px;
    padding-top: 200px;
}