.filas {
    margin: 0px;
}

.sideBar {
    width: 307px;
    height: 1024px;
    flex-shrink: 0;
    background: #F5F3F3;
}

a {
    text-decoration: none;
}


.listado {
    text-align: left;
    margin-top: 50px;
    font-weight: lighter;
}

.divIcon{
    margin-top: 50px;
}

.ulMenu{
    padding: 0px;
}

.aLinks{
    margin-left: 10px;
}

.header{
    margin-top: 30px;
}

.contentForms{
    margin-top: 50px;
}

.contentData{
    margin-top: 50px;
}

.contenedorBc{
    margin: 20px;
}

.textHeader{
    font-weight: bold;
}

.containerTablw{
    height: 500px;
}

.table{
    height: 500px;
}